.container {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-xxxlarge);
}

.promptDialog {
  position: relative;
  padding-bottom: 0;
  background: var(--form-bg) !important;
  width: 700px;

  &.create {
    width: 900px;
    border-radius: 0 !important;
  }

  .crossIcon {
    position: absolute;
    right: var(--spacing-large);
    top: var(--spacing-large);
  }
}
