.openAIResponse pre {
  background-color: #282c34;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.openAIResponse code {
  font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
  font-weight: bolder;
}

.errorDetails {
  background: #ffffff !important;
  border-radius: 4px;
}

.readMoreBtn {
  width: fit-content !important;
}

.backBtn {
  cursor: pointer;
}

.accordion {
  :global(.Accordion--chevron) {
    color: var(--grey-700);
    position: absolute;
    right: var(--spacing-large);
    top: var(--spacing-xxlarge);
  }
  :global(.Accordion--panel) {
    padding-top: var(--spacing-xsmall);
    padding-bottom: var(--spacing-xsmall);
  }
  :global(.Accordion--summary) {
    > div:first-child {
      width: 100%;
    }
  }
}
