.openAIResponse pre {
  background-color: #282c34;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.openAIResponse code {
  font-family: 'Roboto Mono', 'Monaco', 'Ubuntu Mono', monospace;
  font-weight: bolder;
}

.errorDetails {
  background: #ffffff !important;
  border-radius: 4px;
  // padding: 20px !important;
}

.main {
  background: #f3f3f3 !important;
  border-radius: 8px;
}
