.performanceOverviewCard {
  overflow-y: scroll !important;
  margin-bottom: var(--spacing-medium);
  .recommendationsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 24px;
  }
}
