/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.tableBody {
  div[class*='TableV2--row TableV2--card'] {
    border-radius: 6px !important;
    padding: var(--spacing-medium) 0px !important;
  }

  div[class*='TableV2--rowSubComponent'] {
    background-color: var(--grey-50);
  }
}

.toggleAccordion {
  // to have better click target area for toggle
  padding: var(--spacing-large) var(--spacing-medium) !important;
}

.totalServiceContainer {
  background: var(--grey-50) !important;
  border-radius: var(--spacing-small);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey-100);
  padding: var(--spacing-small);
}

.serviceCountContainer {
  background: var(--grey-50) !important;
  border-radius: var(--spacing-xsmall);
  text-align: center;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid var(--grey-100);
  padding: var(--spacing-small);
  width: 200px !important;
}

.serviceCountText {
  margin-left: var(--spacing-xsmall) !important;
  margin-right: var(--spacing-small) !important;
}

.menuItem {
  cursor: pointer;
  padding: 8px !important;
  width: 100%;
  text-decoration: none !important;
}

.servicesTable {
  margin: 0 2.5rem;
  padding: 0 1rem;
  background-color: transparent;
  border-radius: 6px !important;

  div[class*='TableV2--row TableV2--card'] {
    background-color: transparent;
    box-shadow: none !important;
    margin-bottom: 10px !important;
    background-color: var(--white) !important;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16) !important;
    padding: var(--spacing-medium) !important;
  }

  div[class*='TableV2--body'] {
    padding-bottom: 5px;
  }

  div[class*='TableV2--cells'] {
    margin-top: -var(--spacing-medium);
  }
}

.totalServiceContainer {
  background: var(--grey-50) !important;
  border-radius: var(--spacing-small);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey-100);
}
