{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "CD NextGen API Reference",
    "contact": {}
  },
  "host": "stress.harness.io",
  "basePath": "/gateway/ng/api",
  "tags": [
    {
      "name": "accounts"
    },
    {
      "name": "environmentGroup"
    },
    {
      "name": "pipelines"
    },
    {
      "name": "license-usage-cd"
    },
    {
      "name": "connectors"
    },
    {
      "name": "google-secret-manager-connector"
    },
    {
      "name": "credits"
    },
    {
      "name": "enforcement"
    },
    {
      "name": "file-store"
    },
    {
      "name": "filters"
    },
    {
      "name": "gitopsproviders"
    },
    {
      "name": "git-servicegit-file-cache"
    },
    {
      "name": "git-sync-branch"
    },
    {
      "name": "git-sync-entities"
    },
    {
      "name": "git-full-sync"
    },
    {
      "name": "git-sync-settings"
    },
    {
      "name": "scm"
    },
    {
      "name": "user-source-code-manager"
    },
    {
      "name": "git-sync"
    },
    {
      "name": "git-sync-errors"
    },
    {
      "name": "ldap"
    },
    {
      "name": "adminlicenses"
    },
    {
      "name": "licenses"
    },
    {
      "name": "smplicenses"
    },
    {
      "name": "usage"
    },
    {
      "name": "roleassignments"
    },
    {
      "name": "authentication-settings"
    },
    {
      "name": "account-setting"
    },
    {
      "name": "activityHistory"
    },
    {
      "name": "agentmtls"
    },
    {
      "name": "artifacts"
    },
    {
      "name": "aws"
    },
    {
      "name": "buckets"
    },
    {
      "name": "customDeployment"
    },
    {
      "name": "v2"
    },
    {
      "name": "download-delegates"
    },
    {
      "name": "delegate-group-tags"
    },
    {
      "name": "delegate-profilesng"
    },
    {
      "name": "delegate-setup"
    },
    {
      "name": "delegate-token-ng"
    },
    {
      "name": "cdStage"
    },
    {
      "name": "entitySetupUsage"
    },
    {
      "name": "environments"
    },
    {
      "name": "environmentsV2"
    },
    {
      "name": "serviceV1-eol-banner"
    },
    {
      "name": "gcp"
    },
    {
      "name": "globalKms"
    },
    {
      "name": "infrastructures"
    },
    {
      "name": "invites"
    },
    {
      "name": "manifestshelm"
    },
    {
      "name": "service-env-migration"
    },
    {
      "name": "refresh-inputs"
    },
    {
      "name": "apikey"
    },
    {
      "name": "health"
    },
    {
      "name": "host-validation"
    },
    {
      "name": "aggregate"
    },
    {
      "name": "hosts"
    },
    {
      "name": "secret-managers"
    },
    {
      "name": "v2secrets"
    },
    {
      "name": "organizations"
    },
    {
      "name": "projects"
    },
    {
      "name": "sample-manifests"
    },
    {
      "name": "token"
    },
    {
      "name": "user-groups"
    },
    {
      "name": "v2user-groups"
    },
    {
      "name": "azure"
    },
    {
      "name": "yamlschema"
    },
    {
      "name": "services"
    },
    {
      "name": "servicesV2"
    },
    {
      "name": "smtpConfig"
    },
    {
      "name": "tas"
    },
    {
      "name": "terraform"
    },
    {
      "name": "terraform-cloud"
    },
    {
      "name": "user"
    },
    {
      "name": "variables"
    },
    {
      "name": "executions"
    },
    {
      "name": "feedback"
    },
    {
      "name": "freeze"
    },
    {
      "name": "gitopsclusters"
    },
    {
      "name": "instanceng"
    },
    {
      "name": "gitOpsInstanceSync"
    },
    {
      "name": "instancesync"
    },
    {
      "name": "jira"
    },
    {
      "name": "oauth"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "landingDashboards"
    },
    {
      "name": "rollback"
    },
    {
      "name": "scim"
    },
    {
      "name": "serviceaccount"
    },
    {
      "name": "servicenow"
    },
    {
      "name": "trial-signup"
    },
    {
      "name": "source-code-manager"
    },
    {
      "name": "webhook"
    },
    {
      "name": "polling"
    },
    {
      "name": "webhookevent"
    },
    {
      "name": "settings"
    },
    {
      "name": "signup"
    },
    {
      "name": "subscriptions"
    },
    {
      "name": "partial-yaml-schema"
    },
    {
      "name": "yaml-schema"
    },
    {
      "name": "yaml-snippet"
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/accounts/{accountIdentifier}/name": {
      "put": {
        "tags": ["accounts"],
        "summary": "Update Account Name",
        "description": "",
        "operationId": "updateAccountNameNG",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AccountDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseAccountDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/{accountIdentifier}/default-experience": {
      "put": {
        "tags": ["accounts"],
        "summary": "Update Default Experience",
        "description": "",
        "operationId": "updateAccountDefaultExperienceNG",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AccountDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseAccountDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/{accountIdentifier}/cross-generation-access": {
      "put": {
        "tags": ["accounts"],
        "summary": "Update Cross Generation Access Enabled",
        "description": "",
        "operationId": "updateAccountCrossGenerationAccessEnabledNG",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AccountDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseAccountDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/{accountIdentifier}/immutable-delegate-enabled": {
      "get": {
        "tags": ["accounts"],
        "summary": "Get Immutable delegate enabled flag",
        "description": "",
        "operationId": "isImmutableDelegateEnabled",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/{accountIdentifier}": {
      "get": {
        "tags": ["accounts"],
        "summary": "Get Account",
        "description": "",
        "operationId": "getAccountNG",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseAccountDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/environmentGroup/list": {
      "post": {
        "tags": ["environmentGroup"],
        "summary": "Gets Environment Group list",
        "description": "",
        "operationId": "getEnvironmentGroupList",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "envGroupIdentifiers",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FilterProperties"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeAllEnvGroupsAccessibleAtScope",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponsePageEnvironmentGroupResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/environmentGroup/{envGroupIdentifier}": {
      "get": {
        "tags": ["environmentGroup"],
        "summary": "Gets a Environment Group by identifier",
        "description": "",
        "operationId": "getEnvironmentGroup",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseEnvironmentGroupResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "tags": ["environmentGroup"],
        "summary": "Update an Environment Group by Identifier",
        "description": "",
        "operationId": "updateEnvironmentGroup",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupRequestDTO"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rootFolder",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "commitMsg",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resolvedConflictCommitId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "baseBranch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "connectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "storeType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["INLINE", "REMOTE"]
          },
          {
            "name": "lastCommitId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseEnvironmentGroupResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": ["environmentGroup"],
        "summary": "Delete en Environment Group by Identifier",
        "description": "",
        "operationId": "deleteEnvironmentGroup",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "envGroupIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rootFolder",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "commitMsg",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseEnvironmentGroupDeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/environmentGroup": {
      "post": {
        "tags": ["environmentGroup"],
        "summary": "Create an Environment Group",
        "description": "",
        "operationId": "createEnvironmentGroup",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupRequestDTO"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseEnvironmentGroupResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/strategies": {
      "get": {
        "tags": ["pipelines"],
        "summary": "Gets Execution Strategy list",
        "description": "",
        "operationId": "getExecutionStrategyList",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseMapServiceDefinitionTypeListExecutionStrategyType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/strategies/yaml-snippets": {
      "get": {
        "tags": ["pipelines"],
        "summary": "Gets Yaml for Execution Strategy based on deployment type and selected strategy",
        "description": "",
        "operationId": "getExecutionStrategyYaml",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "serviceDefinitionType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Kubernetes",
              "NativeHelm",
              "Ssh",
              "WinRm",
              "ServerlessAwsLambda",
              "AzureWebApp",
              "CustomDeployment",
              "ECS",
              "Elastigroup",
              "TAS",
              "Asg",
              "GoogleCloudFunctions",
              "AwsLambda",
              "AWS_SAM"
            ]
          },
          {
            "name": "strategyType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["Basic", "Canary", "BlueGreen", "Rolling", "Default", "GitOps"]
          },
          {
            "name": "includeVerify",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deploymentMetadataYaml",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": ["pipelines"],
        "summary": "Gets generated Yaml snippet based on strategy parameters",
        "description": "",
        "operationId": "postExecutionStrategyYaml",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceDefinitionType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Kubernetes",
              "NativeHelm",
              "Ssh",
              "WinRm",
              "ServerlessAwsLambda",
              "AzureWebApp",
              "CustomDeployment",
              "ECS",
              "Elastigroup",
              "TAS",
              "Asg",
              "GoogleCloudFunctions",
              "AwsLambda",
              "AWS_SAM"
            ]
          },
          {
            "name": "strategyType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["Basic", "Canary", "BlueGreen", "Rolling", "Default", "GitOps"]
          },
          {
            "name": "includeVerify",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StrategyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/strategies/provisioner-yaml-snippets": {
      "get": {
        "tags": ["pipelines"],
        "summary": "Gets Yaml for Execution Strategy based on Provisioner Type",
        "description": "",
        "operationId": "getProvisionerExecutionStrategyYaml",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "provisionerType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "TERRAFORM",
              "CLOUD_FORMATION",
              "AZURE_ARM",
              "AZURE_BLUEPRINT",
              "SHELL_SCRIPT_PROVISIONER",
              "TERRAGRUNT",
              "TERRAFORM_CLOUD"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/serviceDefinitionTypes": {
      "get": {
        "tags": ["pipelines"],
        "summary": "Git list of service definition types",
        "description": "",
        "operationId": "getServiceDefinitionTypes",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListServiceDefinitionType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/provisioner-steps": {
      "get": {
        "tags": ["pipelines"],
        "summary": "get provisioner steps",
        "description": "",
        "operationId": "getProvisionerSteps",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseStepCategory"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/cd-stage-yaml-snippet": {
      "get": {
        "tags": ["pipelines"],
        "summary": "Gets the failure strategy yaml snippet for CD stage",
        "description": "",
        "operationId": "getFailureStrategiesYaml",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pipelines/configuration/steps": {
      "get": {
        "tags": ["pipelines"],
        "summary": "get steps for given service definition type",
        "description": "",
        "operationId": "getSteps",
        "consumes": ["application/json", "application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "serviceDefinitionType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Kubernetes",
              "NativeHelm",
              "Ssh",
              "WinRm",
              "ServerlessAwsLambda",
              "AzureWebApp",
              "CustomDeployment",
              "ECS",
              "Elastigroup",
              "TAS",
              "Asg",
              "GoogleCloudFunctions",
              "AwsLambda",
              "AWS_SAM"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseStepCategory"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/license-usage-cd/services": {
      "get": {
        "tags": ["license-usage-cd"],
        "summary": "Get all services",
        "description": "",
        "operationId": "getAllServices",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 1000,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponsePageServiceResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": true
      }
    },
    "/license-usage-cd/date": {
      "post": {
        "tags": ["license-usage-cd"],
        "summary": "Get license date usage in CD Module",
        "description": "",
        "operationId": "getLicenseDateUsage",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "licenseType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["SERVICES", "SERVICE_INSTANCES"]
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LicenseDateUsageParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseLicenseDateUsageDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/testConnection/{identifier}": {
      "post": {
        "tags": ["connectors"],
        "summary": "Test the connection",
        "description": "",
        "operationId": "getTestConnectionResult",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorValidationResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/validateUniqueIdentifier": {
      "get": {
        "tags": ["connectors"],
        "summary": "Validate Identifier is unique",
        "description": "",
        "operationId": "validateTheIdentifierIsUnique",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/ccmK8sList": {
      "post": {
        "tags": ["connectors"],
        "summary": "Gets CCMK8S Connector list",
        "description": "",
        "operationId": "getCCMK8SConnectorList",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeAllConnectorsAvailableAtScope",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConnectorFilterProperties"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDistinctFromBranches",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 50,
            "maximum": 100,
            "format": "int32"
          },
          {
            "name": "sortOrders",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponsePageCcmK8sConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/testConnectionInternal/{identifier}": {
      "post": {
        "tags": ["connectors"],
        "summary": "Test the connection internal api",
        "description": "",
        "operationId": "getTestConnectionResultInternal",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorValidationResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/testGitRepoConnection/{identifier}": {
      "post": {
        "tags": ["connectors"],
        "summary": "Test the connection",
        "description": "",
        "operationId": "getTestGitRepoConnectionResult",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoURL",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorValidationResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/catalogue": {
      "get": {
        "tags": ["connectors"],
        "summary": "Get Connector Catalogue",
        "description": "",
        "operationId": "getConnectorCatalogue",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorCatalogueResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/stats": {
      "get": {
        "tags": ["connectors"],
        "summary": "Get Connectors statistics",
        "description": "",
        "operationId": "getConnectorStatistics",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorStatistics"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/listbyfqn": {
      "post": {
        "tags": ["connectors"],
        "summary": "Gets Connector list",
        "description": "",
        "operationId": "listConnectorByFQN",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/getceawstemplateurl": {
      "post": {
        "tags": ["connectors"],
        "summary": "Get CCM Aws Connector Template URL Environment Wise",
        "description": "",
        "operationId": "getCEAwsTemplate",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "eventsEnabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "curEnabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "optimizationEnabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": true
      }
    },
    "/connectors/fieldValues": {
      "get": {
        "tags": ["connectors"],
        "summary": "Get All Allowed field values for Connector Type",
        "description": "",
        "operationId": "getAllAllowedFieldValues",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "connectorType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "K8sCluster",
              "Git",
              "Splunk",
              "AppDynamics",
              "Prometheus",
              "Dynatrace",
              "Vault",
              "AzureKeyVault",
              "DockerRegistry",
              "Local",
              "AwsKms",
              "GcpKms",
              "AwsSecretManager",
              "Gcp",
              "Aws",
              "Azure",
              "Artifactory",
              "Jira",
              "Nexus",
              "Github",
              "Gitlab",
              "Bitbucket",
              "Codecommit",
              "CEAws",
              "CEAzure",
              "GcpCloudCost",
              "CEK8sCluster",
              "HttpHelmRepo",
              "NewRelic",
              "Datadog",
              "SumoLogic",
              "PagerDuty",
              "CustomHealth",
              "ServiceNow",
              "ErrorTracking",
              "Pdc",
              "AzureRepo",
              "Jenkins",
              "OciHelmRepo",
              "CustomSecretManager",
              "ElasticSearch",
              "GcpSecretManager",
              "AzureArtifacts",
              "Tas",
              "Spot",
              "Bamboo",
              "TerraformCloud"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseFieldValues"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/{identifier}": {
      "get": {
        "tags": ["connectors"],
        "summary": "Get Connector",
        "description": "",
        "operationId": "getConnector",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": ["connectors"],
        "summary": "Delete a connector by identifier",
        "description": "",
        "operationId": "deleteConnector",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rootFolder",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "commitMsg",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors": {
      "get": {
        "tags": ["connectors"],
        "summary": "Gets Connector list",
        "description": "",
        "operationId": "getConnectorList",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 1000,
            "format": "int32"
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "K8sCluster",
              "Git",
              "Splunk",
              "AppDynamics",
              "Prometheus",
              "Dynatrace",
              "Vault",
              "AzureKeyVault",
              "DockerRegistry",
              "Local",
              "AwsKms",
              "GcpKms",
              "AwsSecretManager",
              "Gcp",
              "Aws",
              "Azure",
              "Artifactory",
              "Jira",
              "Nexus",
              "Github",
              "Gitlab",
              "Bitbucket",
              "Codecommit",
              "CEAws",
              "CEAzure",
              "GcpCloudCost",
              "CEK8sCluster",
              "HttpHelmRepo",
              "NewRelic",
              "Datadog",
              "SumoLogic",
              "PagerDuty",
              "CustomHealth",
              "ServiceNow",
              "ErrorTracking",
              "Pdc",
              "AzureRepo",
              "Jenkins",
              "OciHelmRepo",
              "CustomSecretManager",
              "ElasticSearch",
              "GcpSecretManager",
              "AzureArtifacts",
              "Tas",
              "Spot",
              "Bamboo",
              "TerraformCloud"
            ]
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER",
              "SECRET_MANAGER",
              "CLOUD_COST",
              "ARTIFACTORY",
              "CODE_REPO",
              "MONITORING",
              "TICKETING"
            ]
          },
          {
            "name": "source_category",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER",
              "SECRET_MANAGER",
              "CLOUD_COST",
              "ARTIFACTORY",
              "CODE_REPO",
              "MONITORING",
              "TICKETING"
            ]
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponsePageConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": ["connectors"],
        "summary": "Creates a Connector",
        "description": "",
        "operationId": "createConnector",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rootFolder",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "commitMsg",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "isNewBranch",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "baseBranch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "connectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "storeType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["INLINE", "REMOTE"]
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "tags": ["connectors"],
        "summary": "Updates a Connector",
        "description": "",
        "operationId": "updateConnector",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rootFolder",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "commitMsg",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastObjectId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resolvedConflictCommitId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "baseBranch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "connectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "storeType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["INLINE", "REMOTE"]
          },
          {
            "name": "lastCommitId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/connectors/listV2": {
      "post": {
        "tags": ["connectors"],
        "summary": "Gets Connector list",
        "description": "",
        "operationId": "getConnectorListV2",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeAllConnectorsAvailableAtScope",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConnectorFilterProperties"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDefaultFromOtherRepo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "parentEntityConnectorRef",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityRepoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityAccountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityOrgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentEntityProjectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getDistinctFromBranches",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 50,
            "maximum": 100,
            "format": "int32"
          },
          {
            "name": "sortOrders",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponsePageConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/google-secret-manager-connector/gcp-regions": {
      "get": {
        "tags": ["google-secret-manager-connector"],
        "summary": "Get GCP Regions",
        "description": "",
        "operationId": "getGcpRegions",
        "consumes": ["application/json", "text/yaml", "text/html", "text/plain"],
        "produces": ["application/json", "text/yaml", "text/html"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListString"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/credits/create": {
      "post": {
        "tags": ["credits"],
        "summary": "Purchase credit for an account",
        "description": "",
        "operationId": "createCredit",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreditDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseCreditDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/credits/{accountIdentifier}": {
      "get": {
        "tags": ["credits"],
        "summary": "Get Credits purchase history of an Account in expiry time ascending order",
        "description": "",
        "operationId": "getCreditsByAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListCreditDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enforcement": {
      "post": {
        "tags": ["enforcement"],
        "summary": "Fetch Feature Restriction Detail",
        "description": "",
        "operationId": "getFeatureRestrictionDetail",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FeatureRestrictionDetailRequestDTO"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseFeatureRestrictionDetailsDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enforcement/details": {
      "post": {
        "tags": ["enforcement"],
        "summary": "Fetch List of Feature Restriction Detail",
        "description": "",
        "operationId": "getFeatureRestrictionDetails",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FeatureRestrictionDetailListRequestDTO"
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListFeatureRestrictionDetailsDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enforcement/enabled": {
      "get": {
        "tags": ["enforcement"],
        "summary": "Fetch the List of enabled Feature Restriction Detail for this Account",
        "description": "",
        "operationId": "getEnabledFeatureRestrictionDetailByAccountId",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListFeatureRestrictionDetailsDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enforcement/metadata": {
      "get": {
        "tags": ["enforcement"],
        "summary": "Fetch All Feature Restriction Metadata",
        "description": "",
        "operationId": "getAllFeatureRestrictionMetadata",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseListFeatureRestrictionMetadataDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enforcement/{featureRestrictionName}/metadata": {
      "get": {
        "tags": ["enforcement"],
        "summary": "Fetch Feature Restriction Metadata",
        "description": "",
        "operationId": "fetchFeatureRestrictionMetadata",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "featureRestrictionName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "TEST1",
              "TEST2",
              "TEST3",
              "TEST4",
              "TEST5",
              "TEST6",
              "TEST7",
              "PERSPECTIVES",
              "CCM_K8S_CLUSTERS",
              "CCM_AUTOSTOPPING_RULES",
              "MULTIPLE_ORGANIZATIONS",
              "MULTIPLE_PROJECTS",
              "MULTIPLE_SECRETS",
              "MULTIPLE_USER_GROUPS",
              "MULTIPLE_SERVICE_ACCOUNTS",
              "MULTIPLE_VARIABLES",
              "INTEGRATED_APPROVALS_WITH_HARNESS_UI",
              "INTEGRATED_APPROVALS_WITH_CUSTOM_SCRIPT",
              "INTEGRATED_APPROVALS_WITH_JIRA",
              "SECRET_MANAGERS",
              "DEPLOYMENTS",
              "INITIAL_DEPLOYMENTS",
              "DEPLOYMENTS_PER_MONTH",
              "SERVICES",
              "BUILDS",
              "SAML_SUPPORT",
              "OAUTH_SUPPORT",
              "LDAP_SUPPORT",
              "TWO_FACTOR_AUTH_SUPPORT",
              "CUSTOM_ROLES",
              "CUSTOM_RESOURCE_GROUPS",
              "MAX_TOTAL_BUILDS",
              "MAX_BUILDS_PER_MONTH",
              "MAX_BUILDS_PER_DAY",
              "ACTIVE_COMMITTERS",
              "TEST_INTELLIGENCE",
              "TEMPLATE_SERVICE",
              "CACHE_SIZE_ALLOWANCE",
              "SRM_SERVICES",
              "K8S_BG_SWAP_SERVICES",
              "K8S_BLUE_GREEN_DEPLOY",
              "K8S_APPLY",
              "K8S_DELETE",
              "K8S_CANARY_DELETE",
              "K8S_ROLLING_DEPLOY",
              "K8S_CANARY_DEPLOY",
              "K8S_SCALE",
              "K8S_ROLLING_ROLLBACK",
              "TERRAFORM_APPLY",
              "TERRAFORM_PLAN",
              "TERRAFORM_DESTROY",
              "TERRAFORM_ROLLBACK",
              "INTEGRATED_APPROVALS_WITH_SERVICE_NOW",
              "CREATE_STACK",
              "DELETE_STACK",
              "ROLLBACK_STACK",
              "COMMAND",
              "AZURE_SLOT_DEPLOYMENT",
              "AZURE_TRAFFIC_SHIFT",
              "AZURE_SWAP_SLOT",
              "AZURE_WEBAPP_ROLLBACK",
              "JENKINS_BUILD",
              "AZURE_CREATE_ARM_RESOURCE",
              "AZURE_CREATE_BP_RESOURCE",
              "AZURE_ROLLBACK_ARM_RESOURCE",
              "SHELL_SCRIPT_PROVISION",
              "K8S_DRY_RUN",
              "TERRAFORM_CLOUD_RUN",
              "TERRAFORM_CLOUD_ROLLBACK",
              "SECURITY",
              "DEVELOPERS",
              "MONTHLY_ACTIVE_USERS",
              "STRATEGY_MAX_CONCURRENT",
              "MAX_PARALLEL_STEP_IN_A_PIPELINE",
              "PIPELINE_EXECUTION_DATA_RETENTION_DAYS",
              "MAX_PIPELINE_TIMEOUT_SECONDS",
              "MAX_STAGE_TIMEOUT_SECONDS",
              "MAX_STEP_TIMEOUT_SECONDS",
              "MAX_CONCURRENT_ACTIVE_PIPELINE_EXECUTIONS",
              "MAX_CHAOS_EXPERIMENT_RUNS_PER_MONTH",
              "MAX_CHAOS_INFRASTRUCTURES",
              "TERRAGRUNT_PLAN",
              "TERRAGRUNT_APPLY",
              "TERRAGRUNT_DESTROY",
              "TERRAGRUNT_ROLLBACK",
              "BAMBOO_BUILD"
            ]
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseFeatureRestrictionMetadataDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/file-store/yaml": {
      "post": {
        "tags": ["file-store"],
        "summary": "Create File or Folder metadata via YAML",
        "description": "",
        "operationId": "createViaYAML",
        "consumes": ["application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FileStoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseFileDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/file-store/yaml/{identifier}": {
      "put": {
        "tags": ["file-store"],
        "summary": "Update File or Folder metadata via YAML",
        "description": "",
        "operationId": "updateViaYAML",
        "consumes": ["application/yaml"],
        "produces": ["application/json", "application/yaml"],
        "parameters": [
          {
            "name": "accountIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orgIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectIdentifier",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FileStoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseFileDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Failure"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
[...]
