.tabsInnerContainer {
  height: 44px;
  width: 100%;
  border-bottom: 1px solid var(--grey-200);

  :global {
    .bp3-tab-list {
      margin-left: var(--spacing-7);
    }
    .bp3-tab {
      margin-right: var(--spacing-8) !important;
    }
  }
}
