.percentageBox {
  box-sizing: border-box !important;
  width: 240px !important;
  height: 200px !important;
  background: #effbff !important;
  border: 1px solid #d9dae5 !important;
  border-radius: 8px !important;
}

.isPercentageDiffHigher {
  color: var(--green-700) !important;
}

.isPercentageDiffLower {
  color: var(--red-400) !important;
}
