.tabs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--grey-250);
  width: 100%;
}

.search {
  border: 1px solid var(--grey-100);
  padding: var(--spacing-6) var(--spacing-large) !important;
}

.mainTabPanel {
  &:global(.bp3-tab-panel[role='tabpanel']) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.installedBadge {
  height: fit-content;
  transform: rotate(-90deg);
  transform-origin: 10px 10px;
  display: flex;
  align-items: center;
  background: var(--grey-100) !important;
  padding: var(--spacing-2) var(--spacing-4) !important;
  align-self: flex-end;
  position: relative;
  top: var(--spacing-6);
  border-left: 1px solid var(--grey-150);
}

.plugin {
  border-bottom: 1px solid var(--grey-100);
  cursor: pointer;
}

.overflow {
  overflow-y: scroll;
}

.pluginIcon {
  background: var(--white) !important;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
  border-radius: 15px;
  padding: 6px 6px 6px 8px !important;
}

.padding1 {
  padding: 6px !important;
}

.padding2 {
  padding: 6px 4px 6px 8px !important;
}
