.tabs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--grey-250);
  width: 100%;
}

.search {
  border: 1px solid var(--grey-100);
  padding: var(--spacing-6) var(--spacing-large) !important;
}

.mainTabPanel {
  &:global(.bp3-tab-panel[role='tabpanel']) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.installedBadge {
  height: fit-content;
  transform: rotate(-90deg);
  transform-origin: 10px 10px;
  display: flex;
  align-items: center;
  background: var(--grey-100) !important;
  padding: var(--spacing-2) var(--spacing-4) !important;
  align-self: flex-end;
  position: relative;
  top: var(--spacing-6);
  border-left: 1px solid var(--grey-150);
}

.plugin {
  border-bottom: 1px solid var(--grey-100);
}

.overflow {
  overflow-y: scroll;
}

.pluginInfo {
  position: relative;
  right: var(--spacing-xxxlarge);
}
