.sectionPerformanceCard {
  width: 462px;
  height: 432px;
  padding: 48px;
  &:hover {
    cursor: pointer;
    box-shadow: var(--elevation-4);
  }
  .sectionIcon {
    margin: 8px auto 16px auto;
  }
  .sectionName {
    margin: 40px auto;
  }
  .margin {
    margin: 16px auto !important;
  }
}
