.pageBody {
  --page-header-height: 144px;
}

.subHeader {
  position: sticky;
  top: 0;
  z-index: 3;
  border: none;
  box-shadow: var(--elevation-2);
}

.tableTitle {
  padding: var(--spacing-large) var(--spacing-large) 0;
}

.table {
  margin: var(--spacing-large);
  [role='cell'] {
    padding-right: var(--spacing-small);
  }
}
