.container {
  width: 400px;
  min-height: 300px;
  max-height: 600px;
  padding: var(--spacing-small);
  display: grid;
  grid-template-rows: 1fr auto;

  .messagesContainer {
    overflow-y: auto;
    overflow-x: hidden;

    .messageContainer {
      margin: var(--spacing-medium) 0;
      display: flex;

      .message {
        padding: 10px 20px;
        margin: 0 5px;
        display: inline-block;
        max-width: 90%;
        border-radius: 25px;
        position: relative;
        line-height: 21px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 25px;
        }

        &.harness {
          background: var(--primary-7);
          color: white;

          &:before {
            right: -7px;
            width: 20px;
            background-color: var(--primary-7);
            border-bottom-left-radius: 16px 14px;
          }

          &:after {
            right: -26px;
            width: 26px;
            background-color: white;
            border-bottom-left-radius: 10px;
          }
        }
        &.user {
          background: var(--grey-200);
          color: black;

          &:before {
            left: -7px;
            width: 20px;
            background-color: var(--grey-200);
            border-bottom-right-radius: 16px;
          }

          &:after {
            left: -26px;
            width: 26px;
            background-color: white;
            border-bottom-right-radius: 10px;
          }
        }
        &.loader {
          padding: 16px 32px;
        }
      }

      &.right {
        justify-content: right;
      }
      &.left {
        justify-content: left;
      }
    }
  }

  .inputContainer {
    padding: var(--spacing-small);

    .input {
      width: 100%;
      padding: 0 15px;
      border-radius: 25px;
      resize: none;
      min-height: 42px;
      border: 1px solid gray;
    }

    .submitButton {
      border: 1px solid gray;
      color: white;
      height: 42px;
      width: 47px;
      border-radius: 50%;
    }
  }
}

.dotflashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotflashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dotflashing::before,
.dotflashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotflashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotflashing 1s infinite alternate;
  animation-delay: 0s;
}
.dotflashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotflashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotflashing {
  0% {
    background-color: white;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
